<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Produit:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Produit</h1>

    <f:flashMessages />

    <table class="tx_testkeys">
        <tr>
            <th><f:translate key="tx_testkeys_domain_model_produit.id" /></th>
            <th><f:translate key="tx_testkeys_domain_model_produit.name" /></th>
            <th><f:translate key="tx_testkeys_domain_model_produit.prix" /></th>
            <th><f:translate key="tx_testkeys_domain_model_produit.stock" /></th>
            <th><f:translate key="tx_testkeys_domain_model_produit.description" /></th>
            <th><f:translate key="tx_testkeys_domain_model_produit.slug" /></th>
            <th><f:translate key="tx_testkeys_domain_model_produit.add_date" /></th>
            <th><f:translate key="tx_testkeys_domain_model_produit.update_date" /></th>
            <th><f:translate key="tx_testkeys_domain_model_produit.delate_date" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{produits}" as="produit">
            <tr>
                <td><f:link.action action="show" arguments="{produit : produit}">{produit.id}</f:link.action></td>
                <td><f:link.action action="show" arguments="{produit : produit}">{produit.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{produit : produit}">{produit.prix}</f:link.action></td>
                <td><f:link.action action="show" arguments="{produit : produit}">{produit.stock}</f:link.action></td>
                <td><f:link.action action="show" arguments="{produit : produit}">{produit.description}</f:link.action></td>
                <td><f:link.action action="show" arguments="{produit : produit}">{produit.slug}</f:link.action></td>
                <td><f:link.action action="show" arguments="{produit : produit}">{produit.addDate -> f:format.date()}</f:link.action></td>
                <td><f:link.action action="show" arguments="{produit : produit}">{produit.updateDate -> f:format.date()}</f:link.action></td>
                <td><f:link.action action="show" arguments="{produit : produit}">{produit.delateDate -> f:format.date()}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{produit : produit}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{produit : produit}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Produit</f:link.action>
</f:section>
</html>
