<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-testkeys">
	<tr>
		<td><f:translate key="tx_testkeys_domain_model_produit.id" /></td>
		<td>{produit.id}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_testkeys_domain_model_produit.name" /></td>
		<td>{produit.name}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_testkeys_domain_model_produit.prix" /></td>
		<td>{produit.prix}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_testkeys_domain_model_produit.stock" /></td>
		<td>{produit.stock}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_testkeys_domain_model_produit.description" /></td>
		<td>{produit.description}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_testkeys_domain_model_produit.slug" /></td>
		<td>{produit.slug}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_testkeys_domain_model_produit.add_date" /></td>
		<td>{produit.addDate -> f:format.date()}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_testkeys_domain_model_produit.update_date" /></td>
		<td>{produit.updateDate -> f:format.date()}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_testkeys_domain_model_produit.delate_date" /></td>
		<td>{produit.delateDate -> f:format.date()}</td>
	</tr>
</table>
</html>
