
<div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        {data.tx_gridelements_view_column_1->f:format.raw()}
      </div>
      <div class="col-md-6 col-xs-12">
        {data.tx_gridelements_view_column_2->f:format.raw()}
      </div>
      <div class="col-md-6 col-xs-12">
        {data.tx_gridelements_view_column_3->f:format.raw()}
      </div>
      <div class="col-md-6 col-xs-12">
        {data.tx_gridelements_view_column_4->f:format.raw()}
      </div>
    </div>
  </div>