<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_testkeys_domain_model_produit.name" />
</label><br />
	<f:form.textfield property="name" id="name" /><br />
<label for="prix">
	<f:translate key="tx_testkeys_domain_model_produit.prix" />
</label><br />
	<f:form.textfield property="prix" id="prix" /><br />
<label for="stock">
	<f:translate key="tx_testkeys_domain_model_produit.stock" />
</label><br />
	<f:form.textfield property="stock" id="stock" /><br />
<label for="description">
	<f:translate key="tx_testkeys_domain_model_produit.description" />
</label><br />
	<f:form.textfield property="description" id="description" /><br />
<label for="slug">
	<f:translate key="tx_testkeys_domain_model_produit.slug" />
</label><br />
	<f:form.textfield property="slug" id="slug" /><br />
</html>